@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* BUTTON-DEFAULT */
.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* Default styles for the navbar */
.navbar {
  background-color: transparent;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Scrolled styles for the navbar */
.navbar.scrolled {
  background-color: black;
  color: white;
}

/* Button styles when clicked */
.navbar-toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  color: #ff4c00;
}

.navbar-toggler:focus {
  box-shadow: none;
  color: #ff4c00;
}

.navbar-toggler:hover {
  background-color: #ff4c00;
}

/* Active link styles */
.navbar-nav .nav-item.active .nav-link {
  color: #ff4c00;
}

/* Nav item text styles for the navbar when scrolled */
.navbar.scrolled .navbar-nav .nav-link {
  color: white;
}

/* Nav item styles when clicked */
.navbar .navbar-nav .nav-item .nav-link:active {
  color: #ff4c00;
}

/* Remove the default blue outline from focused links */
.nav-link:focus {
  outline: none;
  color: #ff4c00;
}

footer {
  background-color: #121212 !important;
}

/* NAVBAR SCROLL & FOOTER */
#navbarSupportedContent {
  margin-left: 700px;
}

/* VARIABLES & MIXINS */
background-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.hdrcolor {
  color: #ff4c00;
  font-weight: 800;
  font-size: 80px;
}

.btn_custom {
  background-color: #ff4c00 !important;
  color: white !important;
  border-radius: 2px !important;
  min-width: 80px;
}

.btn_shadow {
  box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.8) !important;
}

.box_border {
  border: solid 3px #ececec !important;
}

.sec_2 {
  background: #F4717C;

  .text-black{
    font-size: 50px;
  }
}

.sec_5 {
  background: #F4717C;

  .text-black{
    font-size: 50px;
  }
}

.secondary_header {
  height: 300px;
  width: 100%;
}

/* HOME PAGE */

.sec_1 {
  
  .header_height {
    height: 100vh;
    background-color: #FEFAEF;
  }

  .text-black {
    font-size: 25px;
  }
}


.brands_logo div {
  max-width: 150px !important;
}

.shp {
  width: 70px;
  height: 70px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  text-align: center;
  line-height: 84px;
  position: absolute;
  top: -42px;
  left: 50%;
  margin-left: -42px;
  background: #ff4c00;
  color: white;
}

.snip1534 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 230px;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 0.75;
    &:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  .img_caption {
    z-index: 1;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 76, 0, 0.85);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    padding: 20px;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: white;
      top: -20px;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 50%) rotate(45deg);
      transform: translate(-50%, 50%) rotate(45deg);
      position: absolute;
    }
  }
}

.career_life {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #ff4c00;
  height: 100%;
  padding: 15px;
  margin: auto 20px;
  color: white;
}

/* ABOUT PAGE */

/* CONTACT PAGE */

.contact {
  .container {
    margin-left: 6%;
  }
}

form {
  input {
    height: 55px !important;
  }
  input,
  textarea {
    outline: 0 !important;
    box-shadow: none !important;
    border: solid 1px #ececec !important;
  }
  .form_textarea {
    max-height: 130px;
    height: 130px !important;
  }
}
