
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {

    text-decoration: none;
}

li {
    list-style: none;
}

*{
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

	
#product{
	padding: 0.5rem;
    position: relative;
    top: 10px;
    justify-content: center;
	color:rgb(4, 2, 88);
	font-size: 80px;
	font-weight: 1400;
	font-family: 'Playfair Display', serif;
}

.center {
	text-align: center;
}

.sec_hdr {
  background-color: #85C6D7;
} 

/* FlexCard.css */
.flex-card {
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(135, 126, 126, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 170px; 
	height: 400px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	flex: 0 0 calc(27% - 20px); 
	margin: 20px; 
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
  }
  

  .flex-card img {
	max-width: 100%;
	height: auto;
	width: 420px;
    height: 250px;
	border-radius: 20px 20px 0 0;
  }
  
  .flex-card h3 {
	font-size: 1.5rem;
	margin: 8px 0;
  }
  
  .flex-card p {
	font-size: 1rem;
	color: #555;
	margin: 8px 0;
  }
  
  .flex-card button {
	background-color: #ff7300;
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	align-self: center;
	justify-content: center;
	align-content: center;
  }
  
  .flex-card button:hover {
	background-color: #35354E;
  }
  
  .card-container {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around; 
  }
  
h3{
	text-align: center;
	font-size: 40px;
	font-weight: 800;
} 
